<%= form_for(@todo) do |f| %>
<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :list %><br>
    <%= f.text_area :list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end%>

